main {
  /* margin: 6rem 0 8rem; */
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading_main {
  color: var(--text-main);
  font-size: clamp(7.6rem, 13.5vw, 16rem);
  letter-spacing: clamp(-6.5px, -12.5px, -12.5px);
  text-transform: uppercase;
  line-height: 1;
  margin-left: -1.1vw;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
  font-weight: 700;
}

.hero__content {
  display: flex;
  justify-content: space-between;
}

.hero__scroll_arrow {
  position: relative;

  margin-top: -5rem;
  margin-right: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .3s;
}

.hero__scroll-arrow-circle {
  border-radius: 50%;
  border: 1px solid var(--text-main);

  width: 200px;
  height: 200px;

  position: absolute;
}

.hero__content svg path {
  stroke: var(--text-main);
}

main p {
  width: 52%;
  width: clamp(52%, 56%, 58%);
  font-size: 1.5rem;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 300;
}

.right_list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.animated_heading_wrapper {
  overflow: hidden;
  height: 16rem;
  height: clamp(7.6rem, 13.5vw, 16rem);
}

.animated_heading_wrapper span {
  display: block;
  height: 100%;
  /* animation: spin-words-vertical 8s infinite; */
  /* border: 1px solid yellow; */
}

.hero__subheading-wrapper {
  overflow: hidden;
}

.hero__subheading,
.hero__subheading-mobile {
  display: block;
  animation: reveal 1s;
}

@keyframes reveal {
  0% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(0%);
  }
  
}

.hero__heading-mobile,
.hero__subheading-mobile {
  display: none;
}

/* @keyframes spin-words-vertical {
  13% {
    transform: translateY(-112%);
  }

  33.3333% {
    transform: translateY(-102%);
  }

  46.3333% {
    transform: translateY(-212%);
  }

  66.6663% {
    transform: translateY(-202%);
  }

  79.6663% {
    transform: translateY(-312%);
  }

  99.9996% {
    transform: translateY(-302%);
  }
} */

@media screen and (max-width: 768px) {
  .hero__scroll_arrow {
    display: none;
  }
}

@media screen and (max-width: 703px) {
  main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .heading_main {
    font-size: 3.5rem;
    font-size: clamp(3rem, 13.5vw, 5rem);
    letter-spacing: -3px;
    margin-left: -3.5px;
  }

  main p {
    font-size: clamp(0.5rem, 2vw, 0.8rem);
    /* width: 90%; */
  }

  .animated_heading_wrapper {
    height: clamp(3rem, 13.5vw, 5rem);
  }
}

@media screen and (max-width: 576px) {
  .hero__content {
    flex-direction: column;
  }

  .hero__scroll_arrow {
    margin-top: 0;
    margin-left: auto;
  }

  .hero__scroll-arrow-circle {
    width: 100px;
    height: 100px;
  }

  .hero__scroll_arrow svg {
    width: 50px;
  }
}

@media screen and (max-width: 768px) {

  .animated_heading_wrapper,
  .hero__subheading {
    display: none;
  }

  .hero__heading-mobile,
  .hero__subheading-mobile {
    display: block;
    font-size: clamp(6rem, 23vw, 12rem);
  }

  .hero__heading_row-1,
  .hero__heading_row-2 .hero__heading_col-2 {
    height: clamp(6rem, 23vw, 10rem);
    overflow: hidden;
  }

  .hero__heading_row-1 span,
  .hero__heading_row-2 .hero__heading_col-2 span {
    display: block;
    animation: spin-words-vertical 8s infinite;
  }

  .hero__heading_row-2 .hero__heading_col-2 span {
    animation: spin-words-vertical 8.1s infinite;
  }

  .hero__heading_row-2 {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .hero__heading_col-1 {
    height: clamp(.8rem, 3vw, 1.5rem);
    width: 40%;
    background: var(--text-main);
  }

  .hero__content {
    flex-direction: column;
    gap: 2rem;
  }

  main p {
    font-size: clamp(.8rem, 3vw, 4rem);
    width: 100%;
  }
}