:root {
  --container-height: calc(89vh - 7em);
}

.collection {
  min-height: 86vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}

.collection__container {
  display: flex;
  gap: 4em;
  margin-bottom: 0rem;
  /* max-height: 70vh; */
  /* max-height: var(--container-height); */
  height: inherit;
  margin-top: 1rem;

}

.collection__thumbnail {
  /* max-height: 70vh; */
  height: inherit;
  /* max-height: calc(85vh - 5em); */
}

.collection__list-wrapper,
.collection__thumbnail {
  margin-top: 4rem;
  flex: 1 1 50%;
}

.collection__thumbnail-inside {
  background-color: #383938;
  border-radius: 1rem;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.collection__thumbnail-inside img {
  width: 50%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.collection__list {
  width: 75%;
  list-style: none;
  max-height: calc(85vh - 9em);
  overflow: auto;
  padding-right: 1em;
  margin-top: -1rem;
  /* background-color: yellow; */
  /* border: 1px solid blue; */
}

.collection__list-title {
  font-size: clamp(2rem, 3.4vw, 4rem);
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 2px solid;
  width: 70.7%;
}

.collection__list-item {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 2px solid;
  position: relative;
}

.collection__list-item:last-child {
  border-bottom: none;
}


.collection__list-item div {
  padding: 2rem 0;
  transition: 0.3s;
}

.collection__list-item:hover div,
.collection__list-item.touched div {
  transform: translateX(10px);
}

/* SCROLL WHEEL CUSTOM STYLE */
.collection__list {
  padding-right: 1.5rem;
}

.collection__list::-webkit-scrollbar {
  width: .5em;
}

.collection__list::-webkit-scrollbar-track {
  background-color: var(--main-bg);
}

.collection__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid var(--text-main);
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .collection__container {
    flex-direction: column;
  }

  .collection__list {
    width: 100%;
  }
  .collection__list-title {
    width: calc(100% - 1.5rem);
  }
}