.about h1,
.about h2 {
    font-weight: 700;
}

.about p,
.about h3 {
    font-weight: 400;
}

.about {
    /* min-height: 70vh; */
    /* display: grid; */
    place-content: center;
    margin: 2rem 0 4rem;
}

.about__header {
    margin-bottom: 3rem;
}

.about__header h3,
.about__content p {
    font-weight: 400;
}

.about__header h1 {
    font-size: 8rem;
    line-height: 1;
    color: var(--text-main);
}

.about__header h3 {
    font-size: 1.6rem;
}

.about__content {
    width: 43vw;
    /* flex: 1.5 1.5 30vw; */
}

.about__content h2,
.tools__wrapper h2 {
    font-size: 2.8rem;
    margin-bottom: .7rem;
}

.about__content p {
    text-align: justify;
}

.about__content p,
.resume-btn {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

.about__content p span {
    color: #F15412;
    text-decoration: underline;
}

.about h3,
.about p {
    color: #818181;
}

.about___content-wrapper {
    display: flex;
    gap: 11rem;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    min-height: 90vh;
}

.about__picture {
    object-fit: cover;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
}

.about__picture-wrapper {
    position: relative;
    width: 29vw;
    /* flex: 1 1 15vw; */
    height: 100%;
    /* border: 1px solid; */
}

.now__streaming-wrapper {
    position: absolute;
    transform-origin: center;
    top: -107.5px;
    left: -75px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.music__text {
    width: 150px;
    animation: spin 10s linear infinite;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
}

[data-theme="dark"] .music__text {
    mix-blend-mode: difference;

}

.resume-btn {
    position: relative;
    /* margin-top: 2rem; */
}

.resume-btn:after {
    position: absolute;
    content: '';
    height: 1.5px;
    /* border: 1.5px solid var(--text-main); */
    background-color: var(--text-main);
    width: 0;
    bottom: 0;
    left: 0;
    transition: .3s;
}

.resume-btn:hover:after {
    width: 100%;
}

.scroll-down-btn {
    position: absolute;
    top: 90vh;
    left: calc(50% - 9px);
    animation: jumpInfinite 1.5s infinite;
}

.scroll-down-btn div {
    border-radius: 0rem 0rem 0.3125rem 0rem;
    border-right: 3px solid #777;
    border-bottom: 3px solid #777;
    width: 1.2rem;
    height: 1.2rem;
    transform: rotate(45deg);
    flex-shrink: 0;
}

.scroll-down-btn div:first-of-type {
    margin-bottom: -8px;
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}

.tools__grid {
    display: grid;
    gap: 1.3rem;
    grid-template-columns: repeat(4, 1fr);
}

[data-theme="light"] .about h3,
[data-theme="light"] .about p {
    color: var(--text-darker);
}

[data-theme="light"] .scroll-down-btn div {
    border-color: var(--text-darker);
}

@media screen and (max-width: 1024px) {
    .about___content-wrapper {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .tools__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about {
        margin-top: 1rem;
    }

    .about__content {
        width: 100%;
    }

    .about__header {
        margin-bottom: 2rem;
    }

    .about__picture-wrapper {
        width: 100%;
    }

    .about__picture {
        max-height: 60vh;
        border-radius: 1.5rem;
    }

    .resume-btn {
        display: flex;
        gap: .2em;
        align-items: center;
    }

    .resume-btn svg {
        scale: .8;
    }

    .scroll-down-btn {
        display: none;
    }

    .about__content {
        min-height: fit-content;
    }

    .about__header h1 {
        font-size: 7rem;
    }

    .about__header h3 {
        font-size: 2rem;
    }

    .about__content h2,
    .tools__wrapper h2 {
        font-size: 2.8rem;
    }

    .about__content p,
    .resume-btn {
        font-size: 1.8rem;
    }

    .tools__grid {
        gap: 2rem;
    }

    .music__text {
        width: 13rem;
    }

    .now__streaming-wrapper {
        left: -40px;
        top: -35px;
    }

}

@media screen and (max-width: 576px) {
    .about__header h1 {
        font-size: 3.8rem;
    }

    .about__header h3 {
        font-size: 1rem;
    }

    .about__content h2,
    .tools__wrapper h2 {
        font-size: 1.8rem;
    }

    .about__content p,
    .resume-btn {
        font-size: 1rem;
    }

    .resume-btn svg {
        scale: .6;
    }

    .tools__grid {
        gap: 1rem;
    }

    .music__text {
        width: 8rem;
    }

    .now__streaming-wrapper {
        top: -73px;
        left: -16px;
    }
}

@media screen and (max-width: 425px) {}