.scroll-top {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 898;
    /* width: 1.5rem; */
}

@media screen and (max-width: 576px) {
    .scroll-top {
        svg {
            width: 40px;
        }
    }
}