@import "./sun-moon.css";

.theme-toggle {
  --size: 2rem;
  --icon-fill: var(--text-main);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 50%; */

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

@media screen and (max-width: 576px) {
  .theme-toggle {
    --size: 2em;
  }
}