.all-projects {
    min-height: 90vh;

    .projects__title {
        h1 {
            line-height: normal;
        }
    }

    .project__filters {
        --gap: 0.8rem;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        gap: var(--gap);

        .title {
            font-weight: 600;
        }

        .filter__wrapper {
            display: flex;
            gap: var(--gap);
            overflow: hidden;

            .filter {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                font-style: italic;
                font-weight: 500;
                border: 2px solid var(--text-main);
                padding: 0.175rem 0.9rem 0.175rem 0.85rem;
                border-radius: 0.5rem;
                transition: .3s;

                svg {
                    margin-left: .8rem;
                    margin-top: 3px;
                }

                &:hover,
                &.selected {
                    background: var(--text-main);
                    color: var(--main-bg);

                    svg path {
                        stroke: var(--main-bg);
                    }
                }
            }
        }
    }

    .projects {
        margin-top: 3rem;

        .section_title {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .all-projects {
        .projects__title {
            margin: 3rem 0 2rem;
        }

        .project__filters {
            --gap: 0.5rem;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;

            .filter__wrapper {
                .filter {
                    font-size: .7rem;
                    padding: 0.07rem 0.5rem 0.07rem 0.4rem;

                    svg {
                        width: 8px;
                        margin-top: 0;

                        path {
                            stroke-width: 1.5;
                        }
                    }
                }
            }
        }

        .projects {
            margin-top: 0;

            .section_container ol li {
                padding: 0;
            }
        }
    }

}

@media screen and (max-width: 576px) {}