.policy-container {
    margin-top: 3rem;
    .custom_header {
        p {
            font-size: 1.4rem;
        }
    }

    .section_container {
        margin-top: 2rem;
        .title {
            margin: 1rem 0;
            font-size: 2.5rem;
        }

        .section-inner {
            column-count: 2;
            column-width: 40%;
            column-gap: 4rem;
            text-align: justify;
            font-size: clamp(1.3rem, 1.3vw, 1.5rem);

            .static-content{
                p {
                    margin-bottom: 2rem;
                }
            }

            .privacy-policy {
                ul {
                    margin-left: 1.5rem;
                }
            }
            
            h3 {
                font-size: 1.7rem;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .policy-container {
        .custom_header {
            p {
                font-size: 1.125rem;
            }
        }
        .section_container {
            .title {
                font-size: 1.875rem;
            }
            .section-inner {
                column-count: 1;
                font-size: 1.265rem;
            }
        }
    }
}