.collection {
    min-height: 90vh;
    /* border: 1px solid; */

    .collection__title {
        margin: 3rem 0 4rem;
    }

    .collection__grid {
        display: grid;
        grid-template-columns: repeat(4, 22vw);
        gap: .5rem;
        justify-content: space-between;

        .column {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: .5rem 0;
        }

        .collection__image {
            width: 100%;
            overflow: hidden;
            border-radius: .625rem;

            >div {
                position: unset !important;
            }

            .image {
                grid-auto-rows: auto;
                object-fit: contain;
                width: calc(100% + .5rem) !important;
                position: relative !important;
                height: 100% !important;
                /* border-radius: .625rem; */
                transition: .3s;
                overflow: hidden;
            }

            &:hover {
                .image {
                    scale: 1.1;
                }
            }
        }

    }

    .no__content {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        /* margin-top: 4rem; */
    }
}

@media screen and (max-width: 768px) {
    .collection {
        .collection__grid {
            grid-template-columns: repeat(3, 29vw);
        }
    }
}

@media screen and (max-width: 576px) {
    .collection {
        .collection__grid {
            grid-template-columns: repeat(2, 44vw);
            gap: .3rem 0;

            .column {
                gap: .3rem 0;
            }
        }
    }
}