:root {
  --max-width: 1100px;
  --laptop-l-breakpoint: 1440px;
  --laptop-breakpoint: 1024px;
  --laptop-sm-breakpoint: 992px;
  --tablet-breakpoint: 768px;
  --mobile-breakpoint: 576px;
  --mobile-sm-breakpoint: 350px;

  --main-bg: #f1ede8;
  --medium-bg: #e5d5c3;
  --dark-bg: #ebded2;
  --grey: #c9c8c9;
  --text-main: #272421;
  --text-darker: #2b2b2b;

  --mobile-sm: 425px;
  --mobile-md: 576px;
  --tablet-md: 768px;
  --tablet-lg: 1024px;
  --laptop-md: 1560px;
  --laptop-lg: 1921px;
}

@font-face {
  font-family: "Minecraft";
  font-style: normal;
  src: url("/fonts/Minecraft.ttf") format('truetype');
}

/* :root[data-theme="light"] {

} */

:root[data-theme="dark"] {
  --main-bg: #1c1c25;
  --medium-bg: #727272;
  --dark-bg: #9f9f9f;
  --grey: #b0b0b0;
  --text-main: #83878d;
  --text-darker: #c6c5c5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 0.5em;
  display: none;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: var(--main-bg);
}

::-webkit-scrollbar-thumb {
  /* width: 80%; */
  border-radius: 10px;
  border: 2px solid var(--text-main);
  background-color: transparent;
  display: none;
}

body {
  background-color: var(--main-bg);
  color: var(--text-main);

  font-family: var(--body-font);
  font-size: 16px;

  width: 90%;
  margin: auto;
  transition: .25s;
}

* {
  cursor: none;
}

/* @custom-media :--heading h1, h2, h3, h4, h5, h6; */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--head-font);
  font-weight: normal;
} */

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.line-1,
.line-2,
.line-3,
.circle {
  z-index: -1;
  opacity: .4;
}

.line-1,
.line-2,
.line-3 {
  position: fixed;
  top: 0;
  width: 0.9px;
  height: 100%;
  background-color: var(--text-darker);
  opacity: 0.2;
}

.circle {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.9px solid var(--text-darker);
  font-size: 16px;
  opacity: 0.2;
  /* width: 58vh;
  height: 58vh; */
  width: 29.27vw;
  height: 29.27vw;
  border-radius: 50%;
}

.line-1 {
  left: 21.4%;
}

.line-3 {
  right: 21.4%;
}

.line-2 {
  left: 50%;
}

section {
  padding: 2rem 0 3rem;
  /* padding-bottom: 5rem; */
}

.section_title {
  /* background-color: var(--text-main); */
  color: var(--text-main);

  border-radius: 5px;

  /* padding: 0rem 2rem; */
  /* padding-left: clamp(0.8rem, 1.25vw, 2rem); */
  margin-bottom: 1.5em;
  font-weight: 700;
}

.section_title h3 {
  font-size: 3rem;
  letter-spacing: -2.4px;
}

@media screen and (max-width: 600px) {
  .section_title {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 480px) {
  .section_title h3 {
    font-size: 2em;
  }

  .circle {
    width: 50vw;
    height: 50vw;
  }
}

/* @media screen and (max-width: 1440px)
@media screen and (max-width: 1024px)
@media screen and (max-width: 992px)
@media screen and (max-width: 768px)
@media screen and (max-width: 576px)
@media screen and (max-width: 350px) */
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
