.collections .section_container {
  & ul {
    margin: 0;
    padding: 0;

    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    justify-content: space-between;
  }

  & li {
    width: 22vw;
    height: 22vw;

    border-radius: 5px;
    background-color: var(--text-main);
  }
}

.section_title h3 {
  font-weight: 700;
}

.collection__visuals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: calc(100% - 1rem);
  /* border: 1px solid blue; */
}

/* COLLECTION TILE */

.collection__tile {
  color: var(--main-bg);
  padding: clamp(1rem, 1.3vw, 2rem);
  overflow: hidden;
  display: grid;
  grid-template-rows: .6fr 1fr;

  & h2 {
    font-weight: 700;
    font-size: clamp(1.7rem, 2.8vw, 3rem);
  }

  & p {
    font-weight: 400;
    font-size: clamp(.8rem, 1.15vw, 1.25rem);
  }

  .view_icon-collection .icon-wrapper {
    background: none;
    transition: .2s;
  }

  &:hover .view_icon-collection .icon-wrapper {
    background: #F15412;
  }
}

/* ICONS */
@property --icon-stroke-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #696B6F;
}

@keyframes colorAnimation {
  100% {
    --icon-stroke-color: #1C1C25
  }
}

.view_icon-collection {
  font-size: 1.5rem;
  border: 2px solid var(--main-bg);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  padding: 1px .2rem 0;
  padding-right: .5rem;
  line-height: 1.2;

  .icon-wrapper {
    width: 1.55rem;
    height: 1.55rem;
    border: 2px solid var(--main-bg);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: .2rem;
  }

  svg {
    width: .7rem;
    height: .7rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  svg path {
    stroke: var(--main-bg);
  }
}

[data-theme="dark"] .collection__tile {

  & .collection__icon * {
    stroke: #696B6F;
    transition: stroke .3s ease-in-out;
  }

  & .collection__icon .sketch__icon-arrow {
    fill: #696B6F;
    transition: fill .3s;
  }
}

.collection__tile {
  & .collection__icon {
    width: 19rem;
  }

  & .collection__icon * {
    stroke: #3B3B3B;
    transition: stroke .3s ease-in-out;
  }

  & .collection__icon .sketch__icon-arrow {
    fill: #3B3B3B;
    transition: fill .3s ease-in-out;
  }

  &:hover .collection__icon * {
    stroke: var(--main-bg);
  }

  &:hover .collection__icon .sketch__icon-arrow {
    fill: var(--main-bg);
  }
}

.collection__icon-wrapper {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  position: relative;

  .collection__icon {
    position: absolute;
    /* border: 1px solid yellow; */
    right: -3rem;
    bottom: -2.5rem;
    width: 140%;
    height: 140%;
  }

  .collection__icon.special {
    right: -4.4rem;
  }
}

@media screen and (max-width: 1921px) and (min-width: 1560px) {
  .collection__tile {
    .collection__icon-wrapper {
      .collection__icon.special {
        right: -6.3rem;
        bottom: -3.5rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .collections .section_container ul {
    grid-template-columns: repeat(2, 44vw);
    gap: 2vw 0;

    & li {
      width: 100%;
      height: 44vw;
      max-height: none;
    }

  }

  .collection__tile {
    padding: clamp(1.5rem, 2vw, 2rem);

    h2 {
      font-size: clamp(2.5rem, 5vw, 4rem);
    }

    p {
      font-size: clamp(1.2rem, 2vw, 1.7rem);
    }

    .view_icon-collection {
      font-size: 1.5rem;
      padding: .3rem .4rem;

      .icon-wrapper {
        width: 1.7rem;
        height: 1.7rem;
      }

      svg {
        width: .9rem;
        height: .9rem;
      }
    }

    .collection__icon-wrapper {
      .collection__icon.special {
        right: -4.8rem;
        bottom: -3rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .collection__visuals {
    height: calc(100% - 0rem);
  }

  .collection__tile {
    padding: clamp(1rem, 1vw, 1.4rem);

    h2 {
      font-size: clamp(1.2rem, 2vw, 2.5rem);
    }

    p {
      font-size: clamp(.7rem, 1vw, 1.2rem);
    }

    .view_icon-collection {
      font-size: .7rem;
      padding: .2rem .2rem;
      border-width: 1px;

      .icon-wrapper {
        width: 1rem;
        height: 1rem;
        border-width: 1px;
      }

      svg {
        width: .5rem;
        height: .5rem;
      }
    }

    .collection__icon-wrapper {

      .collection__icon,
      .collection__icon.special {
        bottom: -1.1rem;
        right: -1.65rem;
      }
    }
  }
}