footer {
    position: relative;
    width: 100%;
    margin: 4rem 0;
    font-weight: 400;
    font-size: 1.2rem;

    .footer__main {
        position: absolute;
        left: -5vw;
        /* display: flex; */
        justify-content: space-between;
        background: var(--footer);
        width: 100vw;
        padding: 5rem 5vw;

        .footer__wrapper {
            display: flex;
            flex-direction: column;

            .footer__content {
                display: flex;
                justify-content: space-between;

                .footer-branding {
                    width: 50%;

                    .footer-logo {
                        font-size: 2.25rem;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }
                }

                .footer-cta {
                    width: 50%;
                    font-weight: 700;
                    font-size: 2.25rem;
                }
            }

            .footer__links {
                width: 50%;
                margin-left: auto;
                margin-top: 5rem;
                font-size: 1.1rem;
                display: flex;

                .links {
                    width: 50%;

                    h4 {
                        margin-bottom: 1rem;
                    }

                    ul {
                        list-style: none;

                        li {
                            margin-bottom: 1rem;
                            position: relative;
                            width: fit-content;
                            overflow: hidden;

                            &::after {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                background-color: var(--text-main);
                                transform: translateX(-101%);
                                transition: transform .5s ease-out;
                            }

                            &:hover::after {
                                transform: translateX(0);
                                width: 100%;
                            }

                            svg {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }

                .design-details {
                    .title {
                        font-weight: 700;
                        color: var(--text-main);
                        margin-bottom: .6rem;
                    }

                    .detail-wrapper {
                        margin-bottom: 2rem;
                    }

                    span {
                        font-weight: 400;
                        color: var(--accent);
                    }
                }
            }

            .footer__legals {
                opacity: .5;
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: 5rem;
            }
        }
    }
}

@media screen and (max-width: 1921px) and (min-width: 1560px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
    footer {
        .footer__main {
            .footer__wrapper {
                .footer__content {
                    flex-direction: column-reverse;
                    gap: 2rem;

                    .footer-branding,
                    .footer-cta {
                        width: 100%;
                        font-size: 1.1rem;
                    }

                    .footer-branding {
                        .footer-logo {
                            font-size: 1.2rem;
                            margin-bottom: .5rem;
                        }

                        p {
                            font-size: .8rem;
                        }
                    }
                }

                .footer__links {
                    width: 100%;
                    font-size: 1rem;
                    margin-top: 3rem;

                    .links {
                        h4 {
                            margin-bottom: .6rem;
                        }

                        ul {
                            li {
                                margin-bottom: .5rem;

                                a {
                                    display: flex;
                                    align-items: center;
                                }

                                svg {
                                    scale: .7;
                                    margin-right: .2rem;
                                }
                            }
                        }
                    }
                }

                .footer__legals {
                    font-size: 1rem;
                    flex-direction: column;
                    margin-top: 3rem;
                }
            }
        }
    }
}